.text-align-center {
    text-align: center;
}

.margin-20 {
    margin: 20px 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

 .relative {
     position: relative
 }



body {
    max-width: 1200px;
    margin: 0 auto;
    background: url("http://68.media.tumblr.com/tumblr_lo19494rcj1qlpz8eo1_r1_1280.jpg");
    padding-top: 40px;
    /* background-repeat: no-repeat; */
}

h1 {
    font-size: 4em;
    color: lightsalmon;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

p {
    font-size: 20px;
    color: grey;
    font-weight: bold;
    font-family: fantasy;
}

input {
    margin-bottom: 3px;
    display: block; 
    font-size: 13px;
    transform: translate(18%, 0);
    padding-left: 10px;
}

button {
    font-size: 13px;
}

#canvas {
    height: 600px;
    width: 600px;
    overflow: hidden;
    background-color: blanchedalmond;
    border: 6px solid black;
    outline: 6px solid darksalmon;
    opacity: .75;
    float: bottom;
}

#inserts {
    width: 22em;
    height: 35em;
    background-color: blanchedalmond;
    border: 6px solid black;
    outline: 6px solid darksalmon;
    opacity: .75;
}

#whole-div {
    margin: 20px 0;
}

#dimensions {
    width: 22em;
    height: 34em;
    background-color: blanchedalmond;
    border: 6px solid black;
    outline: 6px solid darksalmon;
    opacity: .75;
    float: bottom;
}

 .square {
    background: #FF3855;
    position: absolute;
}

.rectangle {
    background: #87FF2A;
    position: absolute;    
}

.circle {
    background: #9C51B6;
    border-radius: 50%;
    position: absolute;    
   
}

.triangle {
    width: 0;
	height: 0;
    position: absolute;        
}  