body {
    background: url("http://68.media.tumblr.com/tumblr_lo19494rcj1qlpz8eo1_r1_1280.jpg");
    padding-top: 40px;
    background-size: cover;
    /*width: 1200px;
    height: 800px;*/
    background-repeat: no-repeat;
}

#container {
    border: 6px solid black;
    outline: 6px solid darksalmon;
    width: 600px;
    height: 600px;
    background-color: blanchedalmond;
    float: right;
    opacity: .75;
    /*border-radius: 4em;*/
}

p {
    float: left;
    font-size: 4em;
    color: lightsalmon;
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

h5 {
    font-family: fantasy;
    color: grey;
}

#inserts {
    width: 20em;
    height: 20em;
    background-color: blanchedalmond;
    border: 6px solid black;
    outline: 6px solid darksalmon;
    opacity: .75;
}

#dimensions {
    width: 20em;
    height: 20em;
    background-color: blanchedalmond;
    border: 6px solid black;
    outline: 6px solid darksalmon;
    opacity: .75;
    float: bottom;
}

form {
    margin-left: 6em;
    margin-top: 2em;
    position: absolute;
}

/*Shapes*/
#square {
	width: 25px;
	height: 25px;
	background: #8A0018;
}

#circle {
	width: 25px;
	height: 25px;
	background: #600060;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#triangle {
	width: 0;
	height: 0;
	border-bottom: 50px solid #FFFF74;
	border-right: 50px solid transparent;
}

#rectangle {
	width: 50px;
	height: 25px;
	background: #009947;
}